@charset "UTF-8";
/* UTILITIES*/
/*COLORS*/
/*BASE COLORS*/
/*GRADIENT COLORS*/
/*COLOR CLASSES*/
/* line 28, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c01 {
  color: #D1DFE0;
}

/* line 31, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c02 {
  color: #B6CFD0;
}

/* line 34, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c03 {
  color: #92B4B5;
}

/* line 37, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c04 {
  color: #7CA5A6;
}

/* line 40, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c05 {
  color: #6A9596;
}

/* line 43, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c06 {
  color: #5A8C8E;
}

/* line 46, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c07 {
  color: #4C7D7F;
}

/* line 49, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c08 {
  color: #407072;
}

/* line 52, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c09 {
  color: #346466;
}

/* line 55, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c10 {
  color: #2D595B;
}

/* line 58, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c11 {
  color: #265052;
}

/* line 61, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c12 {
  color: #204749;
}

/* line 64, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c13 {
  color: #163638;
}

/* line 67, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c14 {
  color: #112C2E;
}

/* line 70, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-c15 {
  color: #0A1F20;
}

/*Base color classes*/
/* line 75, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-w01 {
  color: #FCFEFF;
}

/* line 78, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_color.scss */
.color-b01 {
  color: #33322B;
}

/* FONT FAMILY*/
/* FONT WEIGHT */
/*FONT SIZE*/
/*LINE HEIGHT*/
/* line 24, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-b-b, .font-b-s, .font-m-r, .font-m-ru, .font-m-m, .font-m-l, .font-s-ru, .font-s-l, .font-s-li {
  font-family: "Montserrat", sans-serif;
}

/* line 28, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-b-b, .font-b-s {
  font-size: 0.9375rem;
  line-height: 1.3;
}

/* line 33, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-b-b {
  font-weight: 700;
}

/* line 37, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-b-s {
  font-weight: 600;
}

/* line 41, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-b-mic {
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
}

/* line 47, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-ru, .font-m-m, .font-m-l {
  font-size: 0.75rem;
  line-height: 1.3;
}

/* line 52, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-r {
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 59, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-ru {
  font-weight: 400;
  text-transform: uppercase;
}

/* line 64, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-m {
  font-weight: 500;
}

/* line 68, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-mu {
  font-weight: 500;
  text-transform: uppercase;
}

/* line 73, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-s {
  font-weight: 600;
}

/* line 77, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-b {
  font-weight: 700;
}

/* line 81, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-bu {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 87, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-m-l {
  font-weight: 300;
}

/* line 91, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-s-ru, .font-s-m, .font-s-l, .font-s-li {
  font-size: 0.5625rem;
}

/* line 95, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-s-ru {
  font-weight: 400;
  text-transform: uppercase;
}

/* line 100, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-s-m {
  font-weight: 500;
}

/* line 104, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-s-l {
  font-weight: 300;
}

/* line 108, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_typography.scss */
.font-s-li {
  font-weight: 300;
  font-style: italic;
}

/*MARGINS*/
/* PADDINGS */
/* GAP */
/* BOX-SHADOW*/
/* BORDER-RADIUS */
/* CONTAINERS */
/* line 36, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_layout.scss */
.flexbox {
  display: flex;
  flex-flow: row;
}

/* line 41, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_layout.scss */
.grid {
  display: grid;
}

/* line 1, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Utilities/_components.scss */
.button {
  display: block;
  background: linear-gradient(45deg, #7CA5A6, #6A9596);
  color: #FCFEFF;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(51, 50, 43, 0.25);
}

/* GENERAL CONFIGURATIONS*/
/* line 1, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_general.scss */
body, h1, h2, h3, h4, h5, h6, h7, p, a, ul {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_general.scss */
body {
  background-color: #FCFEFF;
}

/* line 10, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_general.scss */
ul {
  list-style-type: none;
}

/* line 14, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_general.scss */
a {
  display: inline-block;
  text-decoration: none;
}

/* line 19, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_general.scss */
img {
  display: inline-block;
  max-width: 100%;
}

/* HEADER */
/* line 1, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_header.scss */
header ul {
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FCFEFF;
  box-shadow: 0px 4px 4px 0px rgba(51, 50, 43, 0.1);
  margin-bottom: 9px;
}

/* line 14, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_header.scss */
.nav-list-item a {
  padding: 15px 30px;
}

/* line 18, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_header.scss */
.nav-list-item a:hover {
  color: #B6CFD0;
}

/* line 22, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_header.scss */
.active-page {
  text-decoration: underline wavy;
}

/* line 27, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/General/_header.scss */
.page-main-title {
  width: 100%;
  background-color: #6A9596;
  text-align: center;
  padding: 15px 0;
  color: #FCFEFF;
  box-shadow: 0px 4px 4px 0px rgba(51, 50, 43, 0.1);
}

/* PAGES */
/* line 1, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_home.scss */
.home-section {
  margin: 30px 60px;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* line 7, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_home.scss */
.home-section div {
  margin: 0 auto;
  text-align: center;
  max-width: 120ch;
}

/* line 13, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_home.scss */
.home-section h2 {
  margin-bottom: 30px;
}

/* line 17, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_home.scss */
.home-section p {
  text-align: left;
}

/* FORM */
/* line 3, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form {
  margin: 9px 60px;
}

/* line 7, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form search {
  grid-template-columns: 5fr 1fr;
  gap: 9px;
  padding: 9px 0;
}

/* line 13, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form search div {
  grid-template-columns: auto 1fr;
  box-shadow: 0px 4px 4px 0px rgba(51, 50, 43, 0.1);
  border-radius: 5px;
}

/* line 18, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form search input, .search-fieldset {
  border: none;
}

/* line 22, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form search input {
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  color: #6A9596;
}

/* line 30, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form div {
  padding: 9px;
}

/* line 34, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-fieldset legend {
  display: none;
}

/* line 38, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-fieldset ul {
  grid-template-columns: auto auto auto auto;
  justify-content: left;
  gap: 30px;
}

/*Radio buttons*/
/* line 45, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-radio {
  display: none;
}

/* line 49, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-radio-label::before {
  display: inline-block;
  content: '';
  background-color: #FCFEFF;
  height: 9px;
  width: 9px;
  border: 1.8px solid #2D595B;
  margin-right: 9px;
  border-radius: 15px;
}

/* line 60, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-radio[type="radio"]:checked + .search-radio-label {
  color: #407072;
}

/* line 64, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-radio[type="radio"]:checked + .search-radio-label::before {
  background: radial-gradient(6px circle at center, currentColor 50%, transparent 55%);
}

/* line 68, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-radio-label {
  color: #407072;
}

/*Button*/
/* line 73, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-form search .button {
  border-radius: 5px;
}

/* MAIN */
/* line 80, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main {
  margin: 60px 120px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* line 85, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main div {
  width: max-content;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* line 93, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main h4 {
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(51, 50, 43, 0.1);
  padding: 9px 15px;
  border-radius: 5px 0 0 5px;
  width: max-content;
}

/* line 101, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main ul {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

/* line 106, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main li:nth-child(1) a, .search-main li:nth-child(2) a {
  border-radius: 0;
}

/* line 110, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
.search-main li:nth-child(3) a {
  border-radius: 0 5px 5px 0;
}

@media (max-width: 1000px) {
  /* line 115, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_search.scss */
  .search-main {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}

/* line 1, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_team.scss */
.team-article {
  margin: 60px 60px;
  gap: 60px;
  border: 1px dotted #D1DFE0;
}

/* line 7, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_team.scss */
.team-article-item:nth-child(even) {
  background-color: #f3f3f3;
}

/* line 11, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_team.scss */
.team-article-item {
  grid-template-columns: auto 1fr;
  padding: 30px;
}

/* line 16, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_team.scss */
.team-article-item-container-img {
  margin-right: 15px;
}

/* line 20, ../../../OneDrive/Área de Trabalho/Lorfish_v4/css/scss/Pages/_team.scss */
.team-article-item-container-text span {
  display: inline-block;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */