/**/

.search-main {
}

.search-main-container {
    margin-top: $margin-b;
    grid-template-columns: repeat(4, auto);
    gap: $gap-b;
    justify-content: center;
}

.search-main .button {
    padding: $padding-m $padding-l;
    margin: $margin-l auto;
}



@media (max-width: 1000px) {
    .search-main-container {
        grid-template-columns: auto;
    }
}
